[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/optimumpr
[access "refs/for/refs/*"]
	read = group user/optimumpr
	push = group user/optimumpr
	label-Code-Review = -2..+2 group user/optimumpr
	label-Verified = -1..+1 group user/optimumpr
	rebase = group user/optimumpr
	removeReviewer = group user/optimumpr
	submit = group user/optimumpr
[access "refs/heads/*"]
	read = group user/optimumpr
	create = group user/optimumpr
	push = +force group user/optimumpr
	pushMerge = group user/optimumpr
[access "refs/tags/*"]
	push = +force group user/optimumpr
	createTag = group user/optimumpr
	createSignedTag = group user/optimumpr
